@model ISVDemoUsage.Models.HomeIndexViewModel
@{
    ViewBag.Title = "ISV Demo for Usage API";
}

<div class="jumbotron">
    <h1>ISV Demo for Usage</h1>
    <p class="lead">If you have any questions, please email AzureITFM@microsoft.com</p>
</div>

<div class="row">
    @if (!Request.IsAuthenticated)
    {
        <div class="col-lg-4 thumbnail">
            <div class="caption">
                <h3>Sign-in to connect your Azure Subscription</h3>
                <div id="org"><a href='@Url.Action("SignIn", "Account")'><img src="~/Images/org.png" style="height:65px;width:350px;margin:0px" class="img-thumbnail" /></a></div>
                <span id="back" style="display:none; cursor:pointer" class="glyphicon glyphicon-arrow-left"></span>
                <div id="msa" style="cursor:pointer"><img src="~/Images/msa.png" style="height:64px;width:350px" class="img-thumbnail" /></div>

                @using (Html.BeginForm("SignIn", "Account", new { isMSA = true }, FormMethod.Get))
                {
                    <div id="msadir" style="display: none">
                        <div class="input-group" style="width:350px">
                            <input name="directoryName" type="text" class="form-control" placeholder="Directory Name e.g. contoso.com" aria-describedby="basic-addon2">
                            <input name="isMSA" type="hidden" value="true" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go</button>
                            </span>
                        </div>
                        <a style="font-size:smaller; cursor:pointer" data-toggle="modal" data-target=".bs-example-modal-lg">Help me find my directory name</a>
                    </div>
                }
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-lg">
                <div class="modal-content">
                    <img src="~/Images/directory.png" />
                </div>
            </div>
        </div>
    }
    else if (Model != null)
    {
        <table class="table table-striped table-condensed table-hover">
            <tr>
                <td>
                    <h4>Azure Subscription</h4>
                </td>
                <td>
                    <h4>Monitored by ISV?</h4>
                </td>
            </tr>
            @foreach (KeyValuePair<string, ISVDemoUsage.Models.Subscription> entry in Model.UserSubscriptions)
            {
                var subscription = entry.Value as ISVDemoUsage.Models.Subscription;
                <tr>
                    <td>
                        @subscription.DisplayName
                        <br />
                        &nbsp;&nbsp;<small>Subscription Id: @subscription.Id</small>
                        <br />
                        &nbsp;&nbsp;<small>Organization Id: @subscription.OrganizationId</small>
                    </td>
                    <td>
                        @if (subscription.IsConnected)
                        {
                            <text>Yes. </text>
                            <br />
                            <small>&nbsp;&nbsp; Connected By: @subscription.ConnectedBy </small>
                            <small>&nbsp; Connected On: @subscription.ConnectedOn.ToShortDateString() </small>
                            if (Model.UserCanManageAccessForSubscriptions.Contains(@subscription.Id))
                            {
                                 <small>&nbsp; Here's your usage @subscription.UsageString </small>
                                @Html.ActionLink("Disconnect", "Disconnect", "Subscription", new
                                    {
                                        Id = @subscription.Id,
                                        OrganizationId = @subscription.OrganizationId,
                                        ServicePrincipalObjectId = Model.UserOrganizations[@subscription.OrganizationId].objectIdOfISVDemoUsageServicePrincipal
                                    },
                                    new { @class = "btn btn-danger btn-xs" })
                            }
                            if (@subscription.AzureAccessNeedsToBeRepaired)
                            {
                                <br />
                                <small>&nbsp;&nbsp; Access in Azure needs to be repaired: </small>
                                @Html.ActionLink("Repair", "RepairAccess", "Subscription", new
                                    {
                                        Id = @subscription.Id,
                                        OrganizationId = @subscription.OrganizationId,
                                        ServicePrincipalObjectId = Model.UserOrganizations[@subscription.OrganizationId].objectIdOfISVDemoUsageServicePrincipal
                                    },
                                    new { @class = "btn btn-info btn-xs" })
                            }
                        }
                        else
                        {
                            <text>No. </text>
                            if (Model.UserCanManageAccessForSubscriptions.Contains(@subscription.Id))
                            {
                                @Html.ActionLink("Connect", "Connect", "Subscription", new
                                    {
                                        Id = @subscription.Id,
                                        OrganizationId = @subscription.OrganizationId,
                                        ServicePrincipalObjectId = Model.UserOrganizations[@subscription.OrganizationId].objectIdOfISVDemoUsageServicePrincipal
                                    },
                                    new { @class = "btn btn-success btn-xs" })
                            }
                        }
                        @if (!Model.UserCanManageAccessForSubscriptions.Contains(@subscription.Id))
                        {
                            <text>(You can't manage access for this subscription.)</text>
                        }
                    </td>
                </tr>
            }
        </table>
        if (Model.DisconnectedUserOrganizations.Count > 0)
        {
            <div class="alert alert-warning" role="alert">
                <h4> Didn't find the Azure subscription that you want to connect? </h4>
                <h5>
                    It could be in the @Model.DisconnectedUserOrganizations.Count other Organization(s) of which you're a member.
                    Click here to connect to all your Organizations (you will need to provide consent for each).
                </h5>
            </div>
        }
    }
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(
     function () {
         $("#msa").click(function () {
             $("#org").hide();
             $("#back").show();
             $("#msadir").show("slow");
         });
         $("#back").click(function () {
             $("#back").hide();
             $("#msadir").hide();
             $("#org").show("slow");
         });
     });
</script>